.item {
  padding: 10px;
  text-align: center;
  width: 40px;
  margin: 0 auto;
}

/* .span {
  display: block;
} */

.label {
  display: block;
  font-size: 10px;
  margin-bottom: 4px;
}
.percentage {
  font-size: 18px;
  display: block;
}
